
/* config.scss */
$body---bg: #373737;
$body---bg--list: #ffffff;

$banner---bg--list: #d3d3d3;

$button---bg: #4486ff;
$button---bg--hover: #98cbff;

$button---bg--list: #4486ff; // 
$button---bg--hover-list: #98cbff; // 
$button---col--list: #98cbff; //
$button---col--hover-list: #ffffff; //#

$border---col--list: darkgray;

$text---col--primary: #ffffff;
$text---col--primary-list: #000000;
$text---col--secondary-list: #676676;

$button---col: #040990;

$url---col--primary: gold;
$url---col--primaryhover: #ffffff;

$font---main: "Times New Roman", Times, serif;


// font size - headings - 
$font---size--h1: 32px;
$font---size--h2: 24px;


// Breakpoints
$breakpoint---md: 720px;  //680[x