
/* config.scss */

// font stack
$font---one: arial;

$font---main: $font---one;
$font---placeholder: "Arial", sans-serif;

/// backgrounds
$body---bg: #373737;
$body---bg--list: #ffffff;

$banner---bg--list: #d3d3d3;

$button---bg: #4486ff;
$button---bg--hover: #98cbff;

$button---bg--list: #4486ff; // 
$button---bg--hover-list: #98cbff; // 
$button---col--list: #98cbff; //
$button---col--hover-list: #ffffff; //#

$background---stage--completed: #72ff72;
$background---stage--completed--hover: #0ff10f;
$border---stage--completed: #0ff10f;

$border---col--list: darkgray;

$text---col--primary: #ffffff;
$text---col--primary-list: #000000;
$text---col--secondary-list: #676676;
$text---col--tertiary-list: #98cbff;

$button---col: #040990;

$url---col--primary: gold;
$url---col--primary-hover: #ffffff;


$url---col--primary-list: #4486ff;
$url---col--primary-hover-list: #0e43b5;


// font size - headings - 
$font---size--h1: 32px;
$font---size--h2: 24px;

$font---size--md: 14px;


// Breakpoints
$breakpoint---md: 720px;  //680[x