
/* config.scss */
$body---bg: #373737;
$body---bg--list: #d3c2c2;

$text---col--primary: #ffffff;
$text---col--primary-list: #000000;

$url---col--primary: gold;
$url---col--primaryhover: #ffffff;

$font---main: "Times New Roman", Times, serif;

$font---size--h1: 32px;
$font---size--h2: 24px;