
/* mains.scss */

html {

    body {

        &.body---login {

            background: $body---bg;
            
            /* background: #393838; */
            color: $text---col--primary;
            font-family: $font---main;

            header {

                &.header---login--page {

                    background: none;
                    margin: 65pt 0 7px 0px;

                    h1, h2 {

                        text-align: center;
                    }

                    h1 {

                        font-size: 12px;
                        text-align: center;
                    }

                    h2 {

                        font-size: 10px;
                    }
                }
            }

            .container---element--login {

                form {

                    display: block;
                    margin: 2px auto;
                    width: 400px;
                    padding: 8px;
                    border: solid 1px #d3c2c2;
                    border-radius: 4px;
                    /* background: #585858; */
                    box-shadow: none;

                    transition: box-shadow 0.3s ease-in-out;

                    &:hover {

                        /* box-shadow: white 0 0 0 0; */
                        /* box-shadow: #ffdc78 0 0px 5px 1px; */
                        box-shadow: white 0 0px 5px 1px;
                    }

                    label {

                        display: inline-block;
                        width: 80px;
                        margin: 20px 0;
                        vertical-align: middle;
                    }

                    input[type="text"], input[type="email"], input[type="password"], textarea {

                        display: inline-block;  
                        /* background: none; */
                        /* vertical-align: middle; */
                        /* width: 249px; */
                        margin: 0px 0px;
                        padding: 7px;
                        border-radius: 6px;

                        transition: background 0.3s ease-in-out;

                        &:hover {

                            background: lightblue;
                        }

                        &::placeholder {

                            color: grey;

                            transition: color 0.3s ease-in-out;

                            &:hover {

                                color: black;
                                font-weight: normal;
                                letter-spacing: 0px;
                            }
                        }
                    }

                    .login---input { 

                        @extend %form-input-login;
                    }

                    .button {

                        @extend %button-form-main;
                    }
                }
            } 

            footer {

                margin: 17px 0 0 0;

                p {

                    text-align: center;

                    span {

                        a {

                            color: $url---col--primary;
                            font-size: 12px;

                            transition: color 0.3s ease-in-out;

                            &:hover {

                                text-decoration: underline;
                                color: $url---col--primaryhover;
                            }
                        }
                    }
                }
            }
        }

        &.body---list {

            background: $body---bg--list;

            header {

                margin: 12px 0 10px 0px;
                
                h1, h2 {

                    text-align: center;
                }

                h1 {

                    font-size: 32px;
                    text-align: center;
                }

                h2 {

                    font-size: 24px;
                }



            }

            main {

                h3 {

                    text-align: right;

                }

                a {

                    display: inline-block;
                    color: #272626;
                    transition: color 0.3s ease-in-out;
                    width: 100%;
                    text-align: center;

                    &:hover {

                        color: blue;
                    }

                }

                .top---banner--container {

                    display: flex;
                    background: $banner---bg--list;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    margin: 10px auto;
                    padding: 2px 0;
                    border-radius: 6px;
                    border: solid 2px darkgray;
                    width: 95%;

                    #jobs---pathway--logo {

                        width: 45px;
                        height: 45px;
                    }

                    .app---navigation {

                        li {

                            display: inline-block;
                            list-style: none;
                            margin: 0 10px;

                            a {

                                padding: 5px;
                                border-radius: 6px;
                                background: #4486ff;
                                text-decoration: none;
                                color: #98cbff;
                                text-align: center;
                                width: 100%;

                                transition: .3s ease-in-out;

                                &:hover {

                                    color: white
                                }
                            }
                        }
                    }

                    .motivation---message--container {
                        
                        background: $banner---bg--list;                       
                    }


                    
                }

                .section---add--situation-container {

                    /* display: block; */
                    margin: 10px 34px 0 0;
                    /* margin: 10px 34px 0 0; */
                    text-align: right;

                    a {

                        display: inline-block;
                        background: white;
                        background: #4486ff;
                        color: #98cbff;
                        text-align: center;
                        width: 120px;
                        border-radius: 5px;
                        padding: 5px;
                        text-decoration: none;

                        transition: color 0.3s ease-in-out;

                        &:hover {

                            color: white;
                        }

                    }

                }

                .section---jobs--list--container {

                    width: 95%;
                    display: block;
                    margin: 10px auto;
                    border-radius: 6px;

                    table {

                        width: 100%;
                        background: $banner---bg--list;
                        border: solid 2px darkgray;
                        border-radius: 6px;



                        thead {
                            
                            border-bottom: solid 1px #8b8b8b;
                            /* font-size: 17px; */

                            tr {


                                th {

                                    /* border-bottom: soid 1px yellow; */
                                }
                            }
                        }

                        tbody {

                            tr {

                                height: 55px;

                                td {

                                    text-align: center;
                                    transition: background 0.3s ease-in-out;

                                    input.stage---completed--checkbox {

                                        content: "";
                                        height: 28px;
                                        width: 28px;
                                    }

                                    &:hover {

                                        background: lighten($banner---bg--list, 3%);
                                    }

                                    &.stage---completed {

                                        background: #72ff72;                                   
                                        border: solid #0ff10f 1px;
                                    }
                                }

                                td:nth-child(2) {

                                    a {

                                        text-decoration: none;
                                        font-size: 12px;
                                        background: #4486ff;
                                        color: #98cbff;
                                        font-weight: bold;
                                        padding: 4px;
                                        width: 57px;
                                        display: block;
                                        margin: 3px auto;
                                        border-radius: 8px;transition: .3s ease-in-out;

                                        &:hover {

                                            color: white
                                        }
                                    }
                                }
                                
                            }

                            
                        }
                        
                    }
                }
            }

            footer {

                margin: 17px 0 0 0;

                p {

                    text-align: center;

                    span {

                        a {

                            color: black;  // check
                            font-size: 12px;

                            &:hover {

                                text-decoration: underline;
                                color: black; // check
                            }
                        }
                    }
                }
            }
        }

    }
}