
/* mains.scss */

html {

    body {

        &.body---login {

            background: $body---bg;
            
            /* background: #393838; */
            color: $text---col--primary;
            font-family: $font---main;

            header {

                &.header---login--page {

                    background: none;
                    margin: 65pt 0 7px 0px;

                    h1, h2 {

                        text-align: center;
                    }

                    h1 {

                        font-size: 12px;
                        text-align: center;
                    }

                    h2 {

                        font-size: 10px;
                    }
                }
            }

            .container---element--login {

                form {

                    display: block;
                    margin: 2px auto;
                    width: 400px;
                    padding: 5px;
                    border: solid 1px #d3c2c2;
                    border-radius: 4px;
                    /* background: #585858; */

                    label {

                        display: inline-block;
                        width: 80px;
                        margin: 20px 0;
                        vertical-align: middle;
                    }

                    input[type="text"], input[type="email"], input[type="password"], textarea {

                        display: inline-block;  
                        /* background: none; */
                        /* vertical-align: middle; */
                        /* width: 249px; */
                        margin: 0px 0px;
                        padding: 7px;
                        border-radius: 6px;

                        transition: background 0.3s ease-in-out;

                        &:hover {

                            background: lightblue;
                        }

                        &::placeholder {

                            color: grey;

                            transition: color 0.3s ease-in-out;

                            &:hover {

                                color: black;
                                font-weight: normal;
                                letter-spacing: 0px;
                            }
                        }
                    }

                    .login---input { 

                        @extend %form-input-login;
                    }

                    .button {

                        @extend %button-form-main;
                    }
                }
            } 

            footer {

                margin: 17px 0 0 0;

                p {

                    text-align: center;

                    span {

                        a {

                            color: $url---col--primary;

                            &:hover {

                                text-decoration: underline;
                                color: $url---col--primaryhover;
                            }
                        }
                    }
                }
            }
        }

        &.body---list {

            background: $body---bg--list;

            header {

                margin: 12px 0 10px 0px;
                
                h1, h2 {

                    text-align: center;
                }

                h1 {

                    font-size: 32px;
                    text-align: center;
                }

                h2 {

                    font-size: 24px;
                }

            }

            footer {

                margin: 17px 0 0 0;

                p {

                    text-align: center;

                    span {

                        a {

                            color: black;

                            &:hover {

                                text-decoration: underline;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

    }
}