%button---list--page {

    background: $button---bg--list;
    color: $button---col--list;

    &:hover {

        color: $button---col--hover-list;
    }

}

%button---section--element {

    background: $button---bg--list;
    color: $button---col--list;
    font-size: 14px;
    
    &:hover {

        color: $button---col--hover-list;        
    }
}