%form-input-register {

    /* border: solid red 1.4px; */
    /* border: solid #45ff45 2px; */
    /* border: solid #ffc217 1px; */
    border: solid white 2px;
    padding: 2px 0;
    padding: 5px;
    font-family: arial;
}